# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Berna\OneDrive - Instituto Superior de Engenharia de Lisboa\Old PC\Documents\Faculdade\PG3\PG3\Testes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
